:root{
    --one: #d73b57;
    --sidebg: white;
    --navyblue: rgb(57, 57, 95);
}
.main-box{
    margin: 0px 0px 50px 25px;
}
body{
    background: linear-gradient(to bottom right, lavender,pink);
    background-repeat: no-repeat;
    width: 100%;
}
*{
    color: var(--navyblue);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .edu{
    font-size: 20px;
} */
.left-box{ 
    padding-top: 100px;
    padding-bottom: 25px;
}
.right-box{
    padding:30px 50px;
}
.profile{
    width: 300px; 
    height: 300px; 
    border: 3px solid var(--navyblue); 
	padding: 7px; 
    border-radius: 50%; 
    margin: 20px;
}
.p1{
    font-size: 23px;
}
li{
    font-size: 23px;
}
tr,td,th{
    font-size: 23px;
    padding: 8px;
}
.s1{
    color:var(--navyblue);
}
.s2{
    color: var(--one);
}
.content{
    margin: 20px;
}
#name{
    font-size: 60px;
}
#designation{
    color:var(--navyblue);
}
@media(min-width: 1100px){
    .left-box{
        width: 30%;
        float: left;
    }
    .right-box{
        margin-top: 50px;
        margin-left: 15px;
        width: 60%;
        background-color: var(--sidebg); 
        float: left;
        border-radius: 50px 0px 0px 50px;
        box-shadow: -7px 2px 15px 2px #54585d52;
    }
}
@media(min-width: 650px){
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .right-box{
        align-items: center;
    }
}
@media(max-width: 649px){
    .profile{
        width: 200px;
        height: 200px;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .right-box{
        align-items: center;
    }
}